{% extends 'contacts/base.html' %}
{% block title %}Home{% endblock %}

{% block content %}



<div class="text-center">

    <h1 class="display-4 fw-bold">
        🤖 ContactMaster AI
    </h1>

    <p class="lead mb-4">
        Your Smart Contact Assistant
    </p>

    <div class="row g-3 mt-3">

      <div class="col-md-4">
    <a href="{% url 'list_contacts' %}" class="text-decoration-none text-dark">
        <div class="card h-100 shadow-sm feature-card">
            <div class="card-body">
                <h2>👥</h2>
                <h5>My Contacts</h5>
                <p>
                    Store and manage all your important contacts.
                </p>
            </div>
        </div>
    </a>
</div>

        <div class="col-md-4">
    <a href="{% url 'assistant' %}" class="text-decoration-none text-dark">
        <div class="card h-100 shadow-sm feature-card">
            <div class="card-body">
                <h2>🤖</h2>
                <h5>AI Assistant</h5>
                <p>
                    Find contacts using natural language.
                </p>
            </div>
        </div>
    </a>
</div>

       <div class="col-md-4">
    <a href="{% url 'emergency' %}" class="text-decoration-none text-dark">
        <div class="card h-100 shadow-sm feature-card">
            <div class="card-body">
                <h2>🚑</h2>
                <h5>Emergency</h5>
                <p>
                    Access doctors, police and emergency services.
                </p>
            </div>
        </div>
    </a>
</div>

    <div class="mt-4">

        <a href="{% url 'add_contact' %}" class="btn btn-success btn-lg mx-2">
            ➕ Add Contact
        </a>

        <a href="{% url 'list_contacts' %}" class="btn btn-primary btn-lg mx-2">
            👥 My Contacts
        </a>

    </div>

</div>



{% endblock %}